@font-face {
    font-family: 'IRANSansX';
    src: url('../fonts/IRANSansXV.woff2') format('woff2'),
        url('../fonts/IRANSansXV.woff') format('woff');
    /* font-weight: 100; */
    font-style: normal;
    font-display: swap;
}


