.whiteSection{
    background-color: var(--white);
    border-radius: 1rem;
}
/* =================================================Intro section */
section.introSection {
    position: relative;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.125rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
section.introSection:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../image/dots.png');
    pointer-events: none;
    z-index: 0;
    /* background-color: red; */
}
.intro-info {
    flex: 1;
    z-index: 1;
}

.intro-media {
    flex: 1;
    z-index: 2;
}

.intro-info .link * {
    font-size: .75rem;
    position: relative;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.intro-info .link {
    padding: 0 1rem 0 .625rem;
    border: 1px solid var(--border);
    border-radius: 2rem;
    display: flex;
    width: fit-content;
    gap: .9rem;
    align-items: center;
}
.intro-info .link i {
    font-size: 1rem;
}
.intro-info .link *:first-child {
    border-left: 1px solid var(--border);
    padding-left: .9rem;
}
.intro-info h1.title {
    font-size: 2.125rem;
    font-weight: 700;
    margin: 1.5rem 0 1rem;
}
.intro-info .des {
    color: var(--gray);
    font-size: .875rem;
    font-weight: 400;
    margin: 0 0 2.5rem;
}
.intro-info .buttons.contact {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}
.intro-info .buttons.contact a:last-child {
    border: 1px solid var(--primary);
    background-color: var(--white);
}


.buttons.contact a:first-child {
}
.intro-info .buttons.feature {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.intro-info .buttons.feature a {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 400;
}

.intro-info .buttons.feature a img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}

.intro-info .buttons.feature a:first-child:after {
    position: absolute;
    content: '';
    width: .5rem;
    height: .5rem;
    top: 50%;
    transform: translateY(-50%);
    left: -1.5rem;
    border-radius: 100%;
    background-color: var(--border);
}

.intro-media img {
    width: 100%;
    object-fit: cover;
}


/* =================================================Intro section */
/* ====================================================feature section */
section.featureSection , section.contactSection {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.feature-info {
    position: relative;
}
.feature-info:before {
    position: absolute;
    content: '';
    top: calc(100% + 3rem);
    left: 0;
    background-image: url(../image/horizontal-line.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: .5rem;
}
.feature-info-inner {
    text-align: center;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-info-inner > * {
    margin: 0;
}
.feature-info .preTitle {
    font-size: .75rem;
    font-weight: 400;
    background-color: var(--white);
    width: fit-content;
    margin: auto;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
}

.feature-info .title {
    font-size: 1.5rem;
    font-weight: 700;
}

.feature-info .des {
    font-size: .875rem;
    font-weight: 400;
    color: var(--gray);
}
.feature-media_items .body {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 70%; */
  }
  
  .feature-media_items .body.active {
    opacity: 1;
    visibility: visible;
  }
  .feature-media_items {
    display: flex;
    align-items: center;
    gap: 6rem;
    /* position: relative; */
}

.feature-media_items {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    position: relative;
    min-height: 50vh;
    justify-content: space-between;
}
.feature-media_items .bodies {
    width: 100%;
    height: 50vh;
    position: relative;
}

.feature-media_items .header {
    color: var(--gray);
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    width: fit-content;
}
.feature-media_items .header i {
    font-size: 1rem;
    /* margin-right: 2rem; */
}

.feature-media_items .header i:last-child {
    margin-right: 4rem;
    transition: all ease-in-out .35s;
    opacity: 0;
}

.feature-media_items .header.active i:last-child {
    opacity: 1;
}
.feature-media_items .header.active{
    background-color: var(--white);
    color: var(--dark);
    border-radius: 1rem;
}


.feature-media_items .body > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* ====================================================feature section */
/* ====================================================contact section */
.contact-media {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
    gap: 3rem;
    border: 1px solid var(--border);
    padding: 2.5rem 2.5rem 0;
    border-radius: 1rem;
}

.contact-media:before{
    position: absolute;
    content: '';
    width: 6rem;
    height: 6rem;
    top: 0;
    right: 2rem;
    background-image: url(../image/video-shadow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

section.contactSection .feature-info:before {
    content: none;
}

.contact-media_info {
    /* width: 40%; */
}

.contact-media_info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.contact-media_media {
    width: 100%;
}

.contact-media_media > * {
    width: 100%;
    object-fit: contain;
}

.contact-media_info .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-media_info .button .extra {
    font-size: .625rem;
    font-weight: 600;
    margin-top: 2rem;
}
.contact-media_info .item img {
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    object-fit: contain;
}
.contact-media_info .item .title {
    font-size: .875rem;
    font-weight: 600;
    margin: 0 0 .5rem;
}

.contact-media_info .item .des {
    font-size: .75rem;
    font-weight: 400;
    color: var(--gray);
}
/* ====================================================contact section */
/* ==========================================RESPONSIVE============================== */
@media only screen and (max-width: 768px) {
    section.introSection {
        flex-direction: column;
        height: auto;
    }
    
    section.featureSection, section.contactSection {
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 4rem;
    }
    
    .feature-info-inner {
        width: 100%;
    }


.feature-media_items .body {
    width: 100%;
    top: 0;
    height: 100%;
}

.feature-media_items .header {
    height: 3rem;
    white-space: nowrap;
}

.feature-media_items {
    gap: 1rem;
    grid-template-columns: 1fr;
    min-height: auto;
}

.feature-media_items .header i:last-child {
    display: none;
}

.feature-media_items .body > * {
    object-fit: cover;
}
.contact-media {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 1.25rem 1.25rem;
}

.contact-media:before {
    width: 4rem;
    height: 4rem;
    right: 1rem;
}
.feature-media_items .headers {
    display: flex;
    overflow-x: auto;
    padding-bottom: .5rem;
}
.intro-info h1.title {
    font-size: 1.25rem;
}

.feature-info .title {
    font-size: 1.25rem;
}
}


